<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar color="primary">
  <span [routerLink]="['/']" class="clickable"><i class="material-icons">local_library</i>&nbsp;&nbsp;Book Store</span>
  <span *ngIf="isOnline==false; else hide" class="blinking">&nbsp;&nbsp;&nbsp;<i class="material-icons">wifi_off</i></span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <span>
    <button mat-button [routerLink]="['/birthdaycards']">Birthday Cards</button>
    <button mat-button [matMenuTriggerFor]="manageMenu">Manage Products</button>
    <mat-menu #manageMenu="matMenu" xPosition="before">
      <button mat-menu-item [routerLink]="['/admin/bookform']">Add Book</button>
      <button mat-menu-item [routerLink]="['/admin/birthdaycardform']">Add Birthday Card</button>
    </mat-menu>
  </span>
  <span></span>
</mat-toolbar>

<router-outlet></router-outlet>