.fill-remaining-space {
    flex: 1 1 auto;
}

.clickable {
    outline: none;
}

.clickable:hover {
    cursor: pointer;
}

.offline-status{
    color: red;
}

.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color:white;    }
    49%{    color:white; }
    60%{    color:transparent; }
    99%{    color:transparent;  }
    100%{   color:white;    }
}
